<svg style='display:none;' xmlns='http://www.w3.org/2000/svg'>
    <symbol id="icon-chevron-down" viewBox="0 0 24 24" fill="none">
      <g transform="rotate(90 12 12)">
        <path d="M6.5 12H17" stroke="#363853" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.9117 8L17.5 12L12.9117 16" stroke="#0095FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </symbol>
    <symbol id="icon-chevron-up" viewBox="0 0 24 24" fill="none">
      <g transform="rotate(-90 12 12)">
        <path d="M6.5 12H17" stroke="#363853" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.9117 8L17.5 12L12.9117 16" stroke="#0095FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 32 32">
      <g data-name="21.Arrow Left">
        <path d="M32 15H3.41l8.29-8.29-1.41-1.42-10 10a1 1 0 0 0 0 1.41l10 10 1.41-1.41L3.41 17H32z" data-name="4-Arrow Left" fill="#000000"/>
      </g>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 32 32">
      <path d="m31.71 15.29-10-10-1.42 1.42 8.3 8.29H0v2h28.59l-8.29 8.29 1.41 1.41 10-10a1 1 0 0 0 0-1.41z" data-name="3-Arrow Right" fill="#000000"/>
    </symbol>

    <symbol id="icon-info-circle" viewBox="0 0 24 24" fill="none">
      <path d="M12 7.01001V7.00002M12 17L12 10M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>

    <symbol id="icon-clipboard" viewBox="-2 0 32 32" fill="#000000">
      <g>
        <title>clipboard</title>
        <desc>Created with Sketch Beta.</desc>
        <g transform="translate(-466.000000, -99.000000)" fill="#000000">
          <path d="M487,113 L473,113 C472.447,113 472,113.448 472,114 C472,114.553 472.447,115 473,115 L487,115 C487.553,115 488,114.553 488,114 C488,113.448 487.553,113 487,113 L487,113 Z M492,127 C492,128.104 491.104,129 490,129 L470,129 C468.896,129 468,128.104 468,127 L468,107 C468,105.896 468.896,105 470,105 L473,105 L473,109 L487,109 L487,105 L490,105 C491.104,105 492,105.896 492,107 L492,127 L492,127 Z M475,103 L477.223,103 C477.223,101.896 478.466,101 480,101 C481.534,101 482.777,101.896 482.777,103 L485,103 L485,107 L475,107 L475,103 L475,103 Z M490,103 L487,103 L487,101 L484.307,101 C483.44,99.81 481.846,99 480,99 C478.154,99 476.56,99.81 475.693,101 L473,101 L473,103 L470,103 C467.791,103 466,104.791 466,107 L466,127 C466,129.209 467.791,131 470,131 L490,131 C492.209,131 494,129.209 494,127 L494,107 C494,104.791 492.209,103 490,103 L490,103 Z M487,123 L473,123 C472.447,123 472,123.448 472,124 C472,124.553 472.447,125 473,125 L487,125 C487.553,125 488,124.553 488,124 C488,123.448 487.553,123 487,123 L487,123 Z M487,118 L473,118 C472.447,118 472,118.448 472,119 C472,119.553 472.447,120 473,120 L487,120 C487.553,120 488,119.553 488,119 C488,118.448 487.553,118 487,118 L487,118 Z" />
        </g>
      </g>
    </symbol>

    <symbol id="icon-book-guide" viewBox="0 0 16 16" fill="none">
      <path fill="#000000" fill-rule="evenodd" d="M1.25 2C.56 2 0 2.56 0 3.25v8.5C0 12.44.56 13 1.25 13H5c.896 0 1.475.205 1.809.448.317.23.441.51.441.802a.75.75 0 001.5 0c0-.292.124-.572.441-.802.334-.243.913-.448 1.809-.448h3.75c.69 0 1.25-.56 1.25-1.25v-8.5C16 2.56 15.44 2 14.75 2H11c-1.154 0-2.106.354-2.772 1-.081.08-.157.161-.228.246A3.131 3.131 0 007.772 3C7.106 2.354 6.154 2 5 2H1.25zm7.5 9.967c.61-.309 1.372-.467 2.25-.467h3.5v-8H11c-.846 0-1.394.253-1.728.577-.335.325-.522.787-.522 1.34v6.55zm-1.5 0v-6.55c0-.553-.187-1.015-.522-1.34C6.394 3.753 5.846 3.5 5 3.5H1.5v8H5c.878 0 1.64.158 2.25.467z" clip-rule="evenodd"/>
    </symbol>

    <symbol id="icon-tools" viewBox="0 0 512 512" fill="#000000">
      <g>
        <g>
          <path d="M353.821,222.879v253.108h0c0,19.857,16.156,36.013,36.013,36.013s36.013-16.156,36.013-36.013V222.879H353.821z"/>
        </g>
        <g>
          <polygon points="303.126,23.502 303.126,0 161.635,0 161.635,512 303.126,512 303.126,488.498 233.548,488.498 233.548,458.081 303.126,458.081 303.126,434.176 204.483,434.176 204.483,403.758 303.126,403.758 303.126,379.853 233.548,379.853 233.548,349.435 303.126,349.435 303.126,325.531 204.483,325.531 204.483,295.113 303.126,295.113 303.126,271.209 233.548,271.209 233.548,240.791 303.126,240.791 303.126,216.886 204.483,216.886 204.483,186.468 303.126,186.468 303.126,162.564 233.548,162.564 233.548,132.146 303.126,132.146 303.126,108.242 204.483,108.242 204.483,77.824 303.126,77.824 303.126,53.919 233.548,53.919 233.548,23.502 "/>
        </g>
        <g>
          <rect x="38.914" y="397.948" width="72.028" height="21.292"/>
        </g>
        <g>
          <rect x="38.914" y="101.208" width="72.028" height="266.323"/>
        </g>
        <g>
          <polygon points="74.928,0 38.915,36.635 38.915,70.793 110.94,70.793 110.94,36.635 "/>
        </g>
        <g>
          <path d="M38.915,449.656v26.331c0,19.857,16.156,36.013,36.013,36.013c19.857,0,36.013-16.156,36.013-36.013v-26.331H38.915z"/>
        </g>
        <g>
          <path d="M442.669,44.921v25.348h-16.822V36.013C425.847,16.156,409.691,0,389.834,0c-19.857,0-36.013,16.156-36.013,36.013v156.45 h72.026v-91.777h16.822v142.81h30.417V44.921H442.669z"/>
        </g>
      </g>
    </symbol>

    <symbol id="icon-useplay" viewBox="-102.4 -102.4 1228.80 1228.80" fill="#000000" stroke="#000000" stroke-width="1.024">
      <path d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z" fill="#FFFFFF000000"></path>
      <path d="M434.8 688.2c-7.4 0-14.7-1.9-21.3-5.7-13.2-7.6-21.3-21.7-21.3-37V384c0-15.2 8.1-29.3 21.3-37 13.2-7.6 29.5-7.6 42.7 0l226.5 130.8c13.2 7.6 21.3 21.7 21.3 37 0 15.2-8.1 29.3-21.3 37L456.1 682.5c-6.6 3.9-13.9 5.7-21.3 5.7z m42.7-230.3v113.8l98.5-56.9-98.5-56.9z" fill="#FFFFFF0000005F6379"></path>
    </symbol>
  <symbol id="icon-swiper-arrow-right" viewBox="-0 0 36 36" fill="#0000008f" stroke="##0000008f" stroke-width="1.224">
    <path d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"></path> </symbol>
    <symbol id="icon-swiper-arrow-left" viewBox="-0 0 36 36" fill="#0000008f" stroke="##0000008f" stroke-width="1.224"> <g transform="rotate(90)">
    <path d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"></path></g> </symbol>
</svg>
