{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "es5",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss", "@shopify/prettier-plugin-liquid"]
}
