{{ 'material.css' | asset_url | stylesheet_tag }}

<!-- Material You Slider Section -->
<section class='material-you-slider'>
  <div class='demo-slider'>
    <!-- Material slider -->
    <div class='Materialswiper'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <!--
            Wrap each slide content with "swiper-material-wrapper" and "swiper-material-content" elements
          -->
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <span class='demo-material-label swiper-material-animate-opacity'></span>
              -- Use data-swiper-material-scale to add scale effect on required elements -->
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291626/DSC9248_1_xoe3z1.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_400/v1746291626/DSC9248_1_xoe3z1.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_600/v1746291626/DSC9248_1_xoe3z1.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291626/DSC9248_1_xoe3z1.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_1200/v1746291626/DSC9248_1_xoe3z1.jpg 1200w
                '
                alt='DSC9248-fulldekkende bilde'
                loading='lazy'
              >
              <!--
                Use swiper-material-animate-opacity class to add opacity animation on required elements
              -->
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1745889772/UTEKOS_lu5byz.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_400/v1745889772/UTEKOS_lu5byz.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_600/v1745889772/UTEKOS_lu5byz.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1745889772/UTEKOS_lu5byz.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_1200/v1745889772/UTEKOS_lu5byz.jpg 1200w
                '
                alt='utekos'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1745811103/Helfigur_Svart_800x1200_qunfur.webp'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_400/v1745811103/Helfigur_Svart_800x1200_qunfur.webp 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_600/v1745811103/Helfigur_Svart_800x1200_qunfur.webp 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1745811103/Helfigur_Svart_800x1200_qunfur.webp 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_1200/v1745811103/Helfigur_Svart_800x1200_qunfur.webp 1200w
                '
                alt='Helfigur svart – oransje bakgrunn'
                loading='lazy'
              >

              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1746291625/DSC07131_o3e0jz.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_400/v1746291625/DSC07131_o3e0jz.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_600/v1746291625/DSC07131_o3e0jz.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1746291625/DSC07131_o3e0jz.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_1200/v1746291625/DSC07131_o3e0jz.jpg 1200w
                '
                alt='Utekos bilde DSC07131'
                loading='lazy'
              >

              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:0072ff,w_800/v1745799283/Soveposejakke_Blue_1_komprimert_gjltdx.png'
                alt='Soveposejakke med blå-lilla bakgrunn'
                loading='lazy'
              >

              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291626/Kaffe_jzzgjo.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_400/v1746291626/Kaffe_jzzgjo.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_600/v1746291626/Kaffe_jzzgjo.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291626/Kaffe_jzzgjo.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_1200/v1746291626/Kaffe_jzzgjo.jpg 1200w
                '
                alt='Kaffe-fulldekkende bilde'
                loading='lazy'
              >

              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291864/utekos_gruppe_kvamskogen_mvoubz.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_400/v1746291864/utekos_gruppe_kvamskogen_mvoubz.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_600/v1746291864/utekos_gruppe_kvamskogen_mvoubz.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_800/v1746291864/utekos_gruppe_kvamskogen_mvoubz.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,w_1200/v1746291864/utekos_gruppe_kvamskogen_mvoubz.jpg 1200w
                '
                alt='Utekos gruppe Kvamskogen'
                loading='lazy'
              >

              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_fill,ar_16:9,w_800/v1746182096/K_L_liggende_beskj%C3%A6rt_1_msw6t5.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_fill,ar_16:9,w_400/v1746182096/K_L_liggende_beskj%C3%A6rt_1_msw6t5.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_fill,ar_16:9,w_600/v1746182096/K_L_liggende_beskj%C3%A6rt_1_msw6t5.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_fill,ar_16:9,w_800/v1746182096/K_L_liggende_beskj%C3%A6rt_1_msw6t5.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_fill,ar_16:9,w_1200/v1746182096/K_L_liggende_beskj%C3%A6rt_1_msw6t5.jpg 1200w
                '
                alt='K L liggende beskjært'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1746290244/Oppsn%C3%B8rt_1_nvbybf.png'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_400/v1746290244/Oppsn%C3%B8rt_1_nvbybf.png 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_600/v1746290244/Oppsn%C3%B8rt_1_nvbybf.png 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1746290244/Oppsn%C3%B8rt_1_nvbybf.png 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_1200/v1746290244/Oppsn%C3%B8rt_1_nvbybf.png 1200w
                '
                alt='Oppsnørt med oransje bakgrunn'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1745889762/teltutgang-sj%C3%B8_llfvlf.png'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_400/v1745889762/teltutgang-sj%C3%B8_llfvlf.png 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_600/v1745889762/teltutgang-sj%C3%B8_llfvlf.png 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_800/v1745889762/teltutgang-sj%C3%B8_llfvlf.png 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_16:9,b_rgb:FF6A13,w_1200/v1745889762/teltutgang-sj%C3%B8_llfvlf.png 1200w
                '
                alt='Teltutgang ved sjø'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <span class='demo-material-label swiper-material-animate-opacity'></span>
              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_3:4,b_rgb:FF6A13,w_800/v1746296831/beinipose2_hlfjvg.jpg'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_3:4,b_rgb:FF6A13,w_400/v1746296831/beinipose2_hlfjvg.jpg 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_3:4,b_rgb:FF6A13,w_600/v1746296831/beinipose2_hlfjvg.jpg 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_3:4,b_rgb:FF6A13,w_800/v1746296831/beinipose2_hlfjvg.jpg 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_3:4,b_rgb:FF6A13,w_1200/v1746296831/beinipose2_hlfjvg.jpg 1200w
                '
                alt='Bein-i-pose-2'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div class='swiper-material-wrapper'>
            <div class='swiper-material-content'>
              <span class='demo-material-label swiper-material-animate-opacity'></span>

              <img
                class='demo-material-image'
                data-swiper-material-scale='1.25'
                src='https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_2:7,b_rgb:FF6A13,w_800/v1746299152/just6_hfxzxo.png'
                srcset='
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_2:7,b_rgb:FF6A13,w_400/v1746299152/just6_hfxzxo.png 400w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_2:7,b_rgb:FF6A13,w_600/v1746299152/just6_hfxzxo.png 600w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_2:7,b_rgb:FF6A13,w_800/v1746299152/just6_hfxzxo.png 800w,
                  https://res.cloudinary.com/doqxtgho6/image/upload/f_auto,q_auto,c_pad,ar_2:7,b_rgb:FF6A13,w_1200/v1746299152/just6_hfxzxo.png 1200w
                '
                alt='Portrett justert – just6'
                loading='lazy'
              >
              <span class='demo-material-label swiper-material-animate-opacity'></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  .material-you-slider {
    height: 100%;
    height: 100dvh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: oklch(0.15 0 0);
    overflow: hidden;
  }
{% endstyle %}

<script src='{{ 'material.js' | asset_url }}' defer='defer'></script>

{% schema %}
{
  "name": "Material You Slider",
  "settings": [],
  "presets": [
    {
      "name": "Material You Slider",
      "category": "Media"
    }
  ]
}
{% endschema %}
