.cart {
  position: relative;
  display: block;
}

.cart__footer {
  border-bottom: 1px solid grey;
  padding-bottom: 2rem;
}
.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: flex;
}

.cart__warnings {
  display: none;
  text-align: left;
  padding: 3rem 0 1rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 3rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  display: flex;
  justify-self: center !important;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  height: 25rem !important;
  width: 35rem !important;
}

.field {
  display: flex;
  height: 25rem !important;
  width: 35rem !important;
  justify-self: center !important;
  align-items: center !important;
  justify-content: center;
  margin: 2rem auto;
  z-index: 50;
  display: none !important;
}

.cart__note .text-area,
.cart__note .field__input {
  display: flex;
  height: 25rem !important;
  width: 35rem !important;
  justify-self: center !important;
  align-items: center !important;
  justify-content: center;
}

.cart__note label {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  letter-spacing: 0.02rem;
  color: var(--color-heading-gray);
  font-weight: normal;
  top: -2rem;
  overflow: hidden !important;
  border: none !important;
}

.cart__note::after {
  display: flex;
  height: 20rem;
  width: 35rem;
  border: none;
  appearance: none;
  height: 25rem !important;
  width: 35rem !important;
  justify-self: center !important;
  align-items: center !important;
  justify-content: center;
}

.cart__note::before {
  display: none !important;
}

.cart__note .text-area {
  resize: both;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }
}

.cart__contents > * + * {
  margin-top: 0;
}

.cart__items + .cart__footer {
  grid-column: 2;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  border: 0;
  column-gap: 4rem;
}

.cart__footer-wrapper:last-child {
  padding-top: 2rem;
}

.cart__footer > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart__footer > * + * {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__ctas {
  text-align: center;
  justify-content: center !important;
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
}

.cart__ctas > * + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }
}
