/* dot-gradients.css */

.dot {
  border-radius: 50%;
  width: 1.25rem; /* 20px */
  height: 1.25rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.dot:hover {
  transform: scale(1.1);
}

.gradient-fjellbla {
  background: radial-gradient(40px 200px ellipse at 50% 105%, #fe6a06 0%, #15175c 50%);
}

.gradient-vargnatt {
  background: radial-gradient(50px 15px ellipse at 50% 54%, #fe6a06 0%, #0a0a0a 125%);
}

/* Flere gradients kan legges til her... */
